/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: transparent;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 996px) {
    flex-direction: column;
  }
}
.marginButton {
  margin-right: 8px;
  @media screen and (max-width: 996px) {
    margin-right: 0;
    margin-bottom: 16px;
  }
}

.descriptionContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
.description {
  display: flex;
  padding: 40px;
  max-width: 600px;
  line-height: 1.6;
  font-size: 18px;
}
